In [1]:
import json
import zipfile
import os
import pandas as pd
from pathlib import Path
from pandas.io.json import json_normalize

In [2]:
dataset_directory = os.path.join(os.getcwd(), 'dataset')
os.mkdir(dataset_directory)
filename = 'dataset.zip'
current_directory = os.path.join(os.getcwd(), filename)
moveto_directory = os.path.join(dataset_directory, filename)
os.rename(current_directory, moveto_directory)

In [3]:
my_zip = zipfile.ZipFile(moveto_directory, 'r')
my_zip.extractall(dataset_directory)

In [4]:
def load_file(path):
    with open(path) as file:
        l = []
        for r in file:
            l.append(r)
        return pd.DataFrame.from_records(map(json.loads, l))

In [5]:
reviews = load_file('dataset/review.json')
reviews.drop(['business_id', 'user_id'], axis=1, inplace=True)
reviews = reviews[['review_id', 'date', 'stars', 'text', 'cool', 'funny', 'useful']]
reviews.head()

,review_id,date,stars,text,cool,funny,useful
0,v0i_UHJMo_hPBq9bxWvW4w,2016-05-28,5,"Love the staff, love the meat, love the place....",0,0,0
1,vkVSCC7xljjrAI4UGfnKEQ,2016-05-28,5,Super simple place but amazing nonetheless. It...,0,0,0
2,n6QzIUObkYshz4dz2QRJTw,2016-05-28,5,Small unassuming place that changes their menu...,0,0,0
3,MV3CcKScW05u5LVfF6ok0g,2016-05-28,5,Lester's is located in a beautiful neighborhoo...,0,0,0
4,IXvOzsEMYtiJI0CARmj77Q,2016-05-28,4,Love coming here. Yes the place always needs t...,0,0,0

In [6]:
users = load_file('dataset/users.json')
users.drop(users.columns[[1,2,3,4,5,6,7,8,9,10,11,13,15]], axis=1, inplace=True)
users = users[['user_id', 'name', 'yelping_since', 'average_stars', 'review_count', 'fans', 'cool', 'funny', 'useful']]
users.head()

,user_id,name,yelping_since,average_stars,review_count,fans,cool,funny,useful
0,oMy_rEb0UBEmMlu-zcxnoQ,Johnny,2014-11-03,4.67,8,0,0,0,0
1,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,2013-09-24,3.70,10,0,0,0,0
2,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,2017-03-02,2.00,1,0,0,0,0
3,mBneaEEH5EMyxaVyqS-72A,Mark,2015-03-13,4.67,6,0,0,0,0
4,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,2016-09-08,4.67,3,0,0,0,0

In [8]:
business = load_file('dataset/business.json')
business.drop(['neighborhood', 'address', 'hours'], axis=1, inplace=True)
business = business[['business_id', 'name', 'is_open', 'stars', 'review_count', 'categories', 'attributes', 'state', 'city', 'postal_code', 'latitude', 'longitude']]
business.head()

,business_id,name,is_open,stars,review_count,categories,attributes,state,city,postal_code,latitude,longitude
0,FYWN1wneV18bWNgQjJ2GNg,Dental by Design,1,4.0,22,"[Dentists, General Dentistry, Health & Medical...","{'AcceptsInsurance': True, 'ByAppointmentOnly'...",AZ,Ahwatukee,85044,33.330690,-111.978599
1,He-G7vWjzVUysIKrfNbPUQ,Stephen Szabo Salon,1,3.0,11,"[Hair Stylists, Hair Salons, Men's Hair Salons...","{'BusinessParking': {'garage': False, 'street'...",PA,McMurray,15317,40.291685,-80.104900
2,KQPW8lFf1y5BT2MxiSZ3QA,Western Motor Vehicle,1,1.5,18,"[Departments of Motor Vehicles, Public Service...",{},AZ,Phoenix,85017,33.524903,-112.115310
3,8DShNS-LuFqpEWIp0HxijA,Sports Authority,0,3.0,9,"[Sporting Goods, Shopping]","{'BusinessAcceptsCreditCards': True, 'Restaura...",AZ,Tempe,85282,33.383147,-111.964725
4,PfOCPjBrlQAnz__NXj9h_w,Brick House Tavern + Tap,1,3.5,116,"[American (New), Nightlife, Bars, Sandwiches, ...","{'Alcohol': 'full_bar', 'HasTV': True, 'NoiseL...",OH,Cuyahoga Falls,44221,41.119535,-81.475690

In [9]:
photos = load_file('dataset/photos.json')
photos = photos[['photo_id', 'business_id', 'label', 'caption']]
photos.head()

                 photo_id             business_id    label      caption
0  soK1szeyan202jnsGhUDmA  OnAzbTDn79W6CFZIriqLrA   inside
1  dU7AyRB_fHOZkflodEyN5A  OnAzbTDn79W6CFZIriqLrA   inside
2  6T1qlbBdKkXA1cDNqMjg2g  OnAzbTDn79W6CFZIriqLrA  outside
3  lHhMNhCA7rAZmi-MMfF3ZA  OnAzbTDn79W6CFZIriqLrA   inside  Bakery area
4  oHSCeyoK9oLIGaCZq-wRJw  XaeCGHZzsMwvFcHYq3q9sA     food

In [10]:
print(business.shape)
print(reviews.shape)
print(users.shape)
print(photos.shape)

(50000, 12)
(100000, 7)
(50000, 9)
(100000, 4)